<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="PruebasLocal" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=sige2021_dev;uid=sa;password=123" providerName="System.Data.SqlClient" />
        <add name="Pruebas" connectionString="Data Source=192.168.74.52;Initial Catalog=sige2021_dev;uid=iepcdev;password=Klaatu2021" providerName="System.Data.SqlClient" />
        <add name="Productivo" connectionString="Data Source=192.168.74.52;Initial Catalog=sige2021;uid=sige2021;password=Klaatu*21" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="entorno" value="" />
        <add key="scannerDefault" value="" />
        <add key="nombreAplicacion" value="" />
        <add key="rutaLogo" value="" />
        <add key="tema" value="" />
        
    </appSettings>
</configuration>